Lab2/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52850/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calculator" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_real" type="xs:double" />
        <xs:element minOccurs="0" name="a_imaginary" type="xs:double" />
        <xs:element minOccurs="0" name="b_real" type="xs:double" />
        <xs:element minOccurs="0" name="b_imaginary" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Calculator" minOccurs="0" name="AddResult" nillable="true" type="q1:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiply">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_real" type="xs:double" />
        <xs:element minOccurs="0" name="a_imaginary" type="xs:double" />
        <xs:element minOccurs="0" name="b_real" type="xs:double" />
        <xs:element minOccurs="0" name="b_imaginary" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Calculator" minOccurs="0" name="MultiplyResult" nillable="true" type="q2:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Substract">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_real" type="xs:double" />
        <xs:element minOccurs="0" name="a_imaginary" type="xs:double" />
        <xs:element minOccurs="0" name="b_real" type="xs:double" />
        <xs:element minOccurs="0" name="b_imaginary" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubstractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Calculator" minOccurs="0" name="SubstractResult" nillable="true" type="q3:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_real" type="xs:double" />
        <xs:element minOccurs="0" name="a_imaginary" type="xs:double" />
        <xs:element minOccurs="0" name="b_real" type="xs:double" />
        <xs:element minOccurs="0" name="b_imaginary" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Calculator" minOccurs="0" name="DivideResult" nillable="true" type="q4:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>