Lab2/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Calculator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calculator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Complex">
    <xs:sequence>
      <xs:element minOccurs="0" name="Imaginary" type="xs:double" />
      <xs:element minOccurs="0" name="Real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complex" nillable="true" type="tns:Complex" />
  <xs:complexType name="DivideByZeroException">
    <xs:sequence>
      <xs:element minOccurs="0" name="Divided_complex_number" nillable="true" type="tns:Complex" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivideByZeroException" nillable="true" type="tns:DivideByZeroException" />
</xs:schema>